.DS_Store

.init.zsh

**/__pycache__
*.log

.config/scripts/fzf-git.sh
.config/bat/themes
.config/karabiner/automatic_backups
.config/neonctl
.config/raycast
.config/spicetify/config-xpui.ini
.config/spicetify/Themes
.config/tmux/plugins
.config/yarn
.config/yazi/flavors
