.init.zsh

**/__pycache__
*.log

.config/bat/themes
.config/karabiner/automatic_backups
.config/neonctl
.config/raycast
.config/spicetify/Themes
.config/tmux/plugins
.config/yarn
.config/yazi/flavors
